<div id="footer" style="clear: both">
  <div class="powered_by"><a href="https://hexo.io" target="_blank">Powered By Hexo</a></div>
  <div class="designed_by"><span>Designed by</span><a href="http://www.zhanxin.info/" target="_blank">zhanxin.lin</a></div>
  <div class="refined_by"><span>Refined by</span><a href="https://www.sengxian.com/" target="_blank">Sengxian</a></div>
  <div class="supported_by"><span>Supported by</span><a href="https://www.upyun.com/" target="_blank"><img src="/upyun_logo.png" style="width:100px; vertical-align:middle"></a></div>
</div>
