<div id="header" style="background: url(/cover.jpeg) no-repeat center center; background-size: cover" class="header">
  <div class="header_wrapper">
      <h1 class="title"><a href="/"><%- config.title %></a></h1>
    <ul class="nav">
      <% for (var i in theme.menu) { %>
        <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
      <% } %>
    </ul>
  </div>
</div>
